html {
    height: 100% !important;
}

#email {
    height:100px;
}

#emailText{
    font-size: 25px;
    /* color: blue; */
}

.socialLinks {
    font-size: 25px;
}

#github {
    padding-top: 20px;
}

.github, .linkedin {
    height: 250px;
}

.contactCards{
    text-align: center;
    background-image: url(../assets/subtle.jpg);
    background-size: cover;
    border: none;
    border-radius: 25px;
    
}

a {
    color:blue;
}

.phone {
    font-size: 25px;
    color: blue;
}

#contactImg {
    height: 200px;
}

#contactMe {
    height: 100px;
}

.contactWrapper {
    height: 100vh;
}

.card-columns {
    padding-top: 100px;
}

.yolo {
    background-color: transparent;
    border: none;
}