#projectsHeader {
    margin-top: 200px;
    /* background-image: url("../assets/honeycomb.jpg"); */
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
    /* margin-left: -80px !important;
    margin-right: -78px !important; */
}
.bd-example {
    margin: auto;
    margin-bottom: 50px;
    border: 2px solid lime;
}

.fa-play {
    margin-right: 50px;
}

.d-block {
    opacity: 0.5 !important;
}

a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 10px;
}

hr {
    border-color: white;
}

h2 {
    /* background-image: url("./assets/images/honeycomb.jpg"); */
    text-align: center;
    color: white;
    /* padding: 5px; */
    /* border: 2px solid white; */
    font-family: fantasy;
}

h5 {
    font-weight: bold;
    font-style: italic;
}
