#projectsHeader {
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../assets/honeycomb.jpg");
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-position: center !important;
    height: 80px;
    font-size: 65px;
}

/* .main-wrapper {
    height: 100vh;
} */

.fa-play {
    margin-right: 50px;
}

.d-block {
    opacity: 0.5 !important;
}

a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
}

hr {
    border-color: white;
}

h2 {
    /* background-image: url("./assets/images/honeycomb.jpg"); */
    text-align: center;
    color: white;
    /* padding: 5px; */
    /* border: 2px solid white; */
    font-family: fantasy;
}

h5 {
    font-weight: bold;
    font-style: italic;
}